extends ../layout

block content
form
  center Enter your Pandacoin Address
  br
  center
    input(type='text', name='pandacoin_faucet_address', size='64')
  br
  center
    input(type='submit', value='Submit')
  br

c
