extends ../layout

block content
form
  center Enter your Spartancoin Address
  br
  center
    input(type='text', name='spartancoin_faucet_address', size='64')
  br
  center
    input(type='submit', value='Submit')
  br

d
