extends ../layout

block content
Hi
p form
  center Enter your Zeitcoin Address
  br
  center
    input(type='text', name='zeitcoin_faucet_address', size='64')
  br
  center
    input(type='submit', value='Submit')
  br
